.root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: #757575;
}

ul {
  list-style: none;
}

/* site nav */

.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}

.text {
  color: #212121;
}
